.search-resident {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-resident-select {
    display: flex;
    justify-content: center;
}

.search-contact-text {
    margin-top: 50px;
}

.search-contact-select{
    display: flex;
    justify-content: center;
}