.frontpage-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    width: 30%;
}

.frontpage-buttons__create {
    margin: 10px;
}

.frontpage-buttons__add {
    margin: 10px;
}