.signin-container {
    width: 200px;
    clear: both;
}

.signin-input {
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    margin-left: 100px;
    input {
        width: 100%;
        clear: both;
    }
}

.signin-submit {
    margin-top: 10px;
    margin-left: 50px;
}